@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Source Code Pro";
  background: var(--main-background-color);
  font-size: 10px;
  color: var(--main-text-color);
}

body {
  font-size: 1.6rem;
  line-height: 4rem;
}

footer {
  grid-area: footer;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0 0 3rem 3rem;
  background-color: #000000;
}

.container {
  min-height: 50rem;
  display: grid;
  grid-template-areas: "contact contact" "logo logo" "social about" "footer footer";
  opacity: 0;
  animation: bodyfadein 3s ease-out forwards;
}
.container #contact {
  grid-area: contact;
  color: #000000;
  background-color: #ffffff;
  padding: 7rem 3rem 0 3rem;
  font-size: 1.6rem;
  text-align: right;
}
.container #contact p {
  transform: translateY(10rem);
  opacity: 0;
  animation: fadein 2s ease-out forwards;
  animation-delay: 1s;
}
.container #contact a {
  font-weight: 600;
  text-decoration: none;
  padding: 5px;
  background: #ffee00;
  color: #000000;
}
.container #contact a:hover {
  color: #ffffff;
  background-color: #000000;
}
.container #about {
  grid-area: about;
  padding: 0 3rem 3rem 3rem;
  color: #ffffff;
  background-color: #000000;
  font-size: 1.6rem;
  text-align: right;
}
.container #about p {
  transform: translateY(10rem);
  opacity: 0;
  animation: fadein 2s ease-out forwards;
  animation-delay: 2s;
}
.container .social-links {
  background-color: #000000;
  grid-area: social;
  padding: 0 0 3rem 3rem;
}
.container .social-links ul {
  transform: translateY(10rem);
  opacity: 0;
  animation: fadein 2s ease-out forwards;
  animation-delay: 3s;
}
.container .social-links ul li {
  display: block;
}
.container .social-links ul li .facebook {
  fill: #ffffff;
}
.container .social-links ul li .insta {
  fill: #ffffff;
}
.container .social-links ul li svg {
  height: 60px;
  width: 60px;
}
.container #logo {
  padding: 0 3rem;
  grid-area: logo;
  background: linear-gradient(0deg, black 0%, black 50%, white 50%, white 100%);
  display: block;
  overflow: hidden;
  line-height: 0;
  text-align: center;
}
.container #logo .player {
  position: relative;
  margin: auto;
}
.container #logo .player .record {
  animation: spinrecord 30s linear infinite;
  mix-blend-mode: difference;
}
.container #logo .player .record-arm {
  position: absolute;
  top: 0rem;
  left: 0;
}

@keyframes spinrecord {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinbg {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes fadein {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@keyframes bodyfadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 800px) {
  .container {
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo contact" "logo about" "footer footer";
    overflow: hidden;
    background: linear-gradient(0deg, black 0%, black 50%, white 50%, white 100%);
  }

  #logo {
    height: 100vh;
    min-height: 50rem;
    width: 100%;
    min-width: 50rem;
    padding: 0 !important;
  }
  #logo .player {
    max-width: 100vh;
    min-width: 50rem;
  }
  #logo .player .record {
    height: 100vh;
    min-height: 50rem;
    min-width: 50rem;
    max-width: 100%;
  }
  #logo .player .record-arm {
    height: 100vh;
    min-height: 50rem;
    max-width: 100%;
    min-width: 50rem;
  }

  #about,
#contact {
    width: 50vw !important;
    height: 50vh !important;
    padding: 0 !important;
    position: relative;
    min-height: 25rem;
  }

  #contact p {
    position: absolute;
    right: 10rem;
    bottom: 10rem;
    z-index: 40;
  }

  #about p {
    position: absolute;
    top: 10rem;
    right: 10rem;
  }

  .social-links {
    min-height: 50rem;
    height: 100%;
    position: absolute;
    display: flex !important;
    align-content: center !important;
    flex-wrap: wrap;
    padding: 0 !important;
    width: 6rem;
    top: 0;
    right: 5rem;
    background: none !important;
    z-index: 20;
  }
  .social-links ul {
    margin-top: 2rem;
    padding: 0 !important;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 6rem;
  }
  .social-links .facebook {
    fill: #000000 !important;
  }

  footer {
    margin-top: -5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
